<footer id="rodape"><!--Inicio Seção Rodapé-->
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="../../assets/imagens/logo.png" width="142" class="img-fluid ml-3 mr-3">
            </div>
            <div class="col-md-2">
                <h4>Company</h4>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a href="">Empregos</a>
                    </li>
                    <li class="nav-item">
                        <a href="">Imprensa</a>
                    </li>
                    <li class="nav-item">
                        <a href="">Novidades</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>Comunidade</h4>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="">Artistas</a>
                    </li>
                    <li class="nav-item">
                        <a href="">Desnvolvedores</a>
                    </li>
                    <li class="nav-item">
                        <a href="">Marcas</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>Link Uteis</h4>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="">Ajuda</a>
                    </li>
                    <li class="nav-item">
                        <a href="">Presentes</a>
                    </li>
                    <li class="nav-item">
                        <a href="">Player da web</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="">
                            <img src="imagens/facebook.png" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="">
                            <img src="imagens/instagram.png" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="">
                            <img src="imagens/twitter.png" alt="">
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</footer><!--Fim Seção Rodapé-->