<footer id="rodape"><!--Inicio Seção Rodapé-->
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <img src="../../assets/imagens/logo.png" width="120" class="img-fluid ml-3 mr-3">
            </div>
            <div class="col-sm-6">
                <nav class="navbar navbar-expand-sm navbar-light navbar-transparent w-auto mt-3">
                    <div class="{{redimensionar}}">
                        <ul class="navbar-nav" *ngFor="let menu of menus">
                            <li class="nav-item">
                                <a class="nav-link" href="#">{{menu.descrmenu}}</a>
                              </li>
                          </ul>
                    </div>
                  </nav>
            </div>
            <div class="col-sm-4 container-fluid align-self-center">
                <p>Siga-nos nas redes sociais</p> 
                <a class="icons" href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="icons" href="#">
                    <i class="fab fa-facebook-square"></i>
                </a> 
                <a class="icons" href="#">
                    <i class="fab fa-pinterest-square"></i> 
                </a>
            </div>
        </div>
    </div>
</footer><!--Fim Seção Rodapé-->
