<div id="conteudo">
    <section id="instagram"><!--? Inicio seção Instagram -->
     
    </section><!-- INSTAGRAM SECAO FINAL -->
     <section id="sec_wtsapp"><!--INICIO SECAO  WHATSAPP -->
        <div class="text-center">
            <a class="whatsapp-default" style="text-decoration: none" target="_blank" data-whatsapp="" data-whatsapp-number="5515981294904" data-whatsapp-text="Olá, visualizei o seu site e gostaria de um orçamento.!" onclick="acesso_contato('C_WHATSAPP')"
            rel="noreferrer" href="https://api.whatsapp.com/send?phone={{telefoneWA}}&amp;text=Olá, visualizei o seu site e gostaria de um orçamento.!">
            <span class="spn_wtsapp" style="font-size: 3em;">
                <i class="fab fa-whatsapp-square"></i>
              </span>
              <span class="spn_wtsapp d-block fw-bold" >Entre em Contato</span>
            </a>
            <input type="hidden" name="ativadoMessenger" id="ativadoMessenger" value="">
          </div>
     </section><!-- FIM SECAO WHATSAPP -->
    <section id="sec_contato"><!--inicio Secao contato-->
        <div class="row m-0 p-0">
          <div class="col-md m-0 p-0 map">
            <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3666.525148346381!2d-47.95875818539254!3d-23.223969755103326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c67aff4ceddec9%3A0x8dee59e9d960e359!2sLuana%20Silveira%20Fotografia!5e0!3m2!1sen!2sbr!4v1605204798025!5m2!1sen!2sbr" ></iframe>
          </div>
          <div class="col-md">
            <div class="contact-form" id="contact">
              <h3 class="text-uppercase">Entre em contato</h3>
              <input type="text" class="form-control" placeholder="Seu nome">
              <input type="text" class="form-control" placeholder="Seu email">
              <textarea class="form-control" placeholder="Sua mensagem"></textarea>
              <button type="submit">enviar</button>
            </div>
          </div>
        </div>
    </section><!--Fim Secao Contato-->
    <section class="page-section" id="team"><!-- Inicio seção time-->
      <div class="container">
          <div class="text-center">
              <h2 class="section-heading text-uppercase">Nossa incrível equipe</h2>
              <h3 class="section-subheading text-muted">estudio Luana Silveira Fotografia</h3>
          </div>
          <div class="row">
              <div class="col-md">
                  <div class="team-member">
                      <img class="rounded-circle" src="../../assets/imagens/foto_perfil_luana.png" alt="" />
                      <h4>Luana Silveira</h4>
                      <p class="text-muted">Fotografa</p>
                      <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
              <div class="col-md">
                  <div class="team-member">
                      <img class="rounded-circle" src="../../assets/imagens/foto_perfil_patty.png" alt="" />
                      <h4>Patricia Assis</h4>
                      <p class="text-muted">Fotografa</p>
                      <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
          </div>
      </div>
    </section><!-- Fim seção time-->
</div>
