/* WHATSAPP*/
#sec_wtsapp{
    position:absolute;
    bottom:0;
    right:0;
    margin-right: 20px;
}
.spn_wtsapp{
    color: #34af23 ;
}
.whatsapp-default:hover .spn_wtsapp{
    color:  #FBAFBD ;   
}
/* INSTAGRAM */
  #instagram .owl-carousel .item
  {
    height: 10rem;
    background-color: cyan;
    padding: 1rem;
  }