<div id="conteudo">
    <section id="instagram"><!--? Inicio seção Instagram -->
     
    </section><!-- INSTAGRAM SECAO FINAL -->
     <section id="sec_wtsapp"><!--INICIO SECAO  WHATSAPP -->
        <div class="text-center">
            <a class="whatsapp-default" style="text-decoration: none" target="_blank" data-whatsapp="" data-whatsapp-number="5515981294904" data-whatsapp-text="Olá, visualizei o seu site e gostaria de um orçamento.!" onclick="acesso_contato('C_WHATSAPP')"
            rel="noreferrer" href="https://api.whatsapp.com/send?phone={{telefoneWA}}&amp;text=Olá, visualizei o seu site e gostaria de um orçamento.!">
            <span class="spn_wtsapp" style="font-size: 3em;">
                <i class="fab fa-whatsapp-square"></i>
              </span>
              <span class="spn_wtsapp d-block fw-bold" >Entre em Contato</span>
            </a>
            <input type="hidden" name="ativadoMessenger" id="ativadoMessenger" value="">
          </div>
     </section><!-- FIM SECAO WHATSAPP -->

</div>
